{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'col-12',
  'd-md-flex',
  'justify-content-end',
  'align-items-center',
  'border-beaver-dark',
  'border-4',
  'border-top',
  groups ? 'bg-' ~ groups[0].label.value|lower : 'bg-paddletailblack',
] %}
{% set search_form_classes = [
  'd-flex',
  'flex-wrap',
  'gap-3',
  'h-100',
  'w-100',
  'position-relative',
  'align-items-center',
  'justify-content-center',
  'fs-4',
  'fw-semibold',
  'color-white',
] %}

<div{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {% if label %}
    <h2{{title_attributes}}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
  {# This div is hard coded to add the boostrap class 'show' on the front page and the group pages. This may stop working depending on caching on the block. #}
    <div class="collapse-wrapper collapse w-100 {% if is_front or path('<current>') in ['/cascades', '/guin', '/valley'] %} show {% endif %}" id="osulp-search-collapse">
      <div class="col-12 py-5 px-4-5">

        <form onsubmit="handleSearchSubmit(this)" class="{{search_form_classes|join(' ')}}" action="" method="get" accept-charset="UTF-8">
          <div class="flex-shrink-0">{{'Search'|t}}</div>
          <select onchange="handleSearchLocChange(this)" onchange="handlePlaceholders(this)" name="" id="osulp-search-loc" class="form-select fw-bold w-auto py-2 px-5 ps-4-5 border-black">
            <option value="cat">Catalog</option>
            <option value="cr">Course Reserves</option>
            <option value="jour">Journal Titles</option>
            <option value="web">Library Website</option>
            <option value="rg">Research Guides</option>
            <option value="tad">Theses and Dissertations</option>
            <option value="arc">Archival Collections</option>
          </select>
          <div id="osulp-search-method-wrapper" class="d-flex gap-3">
            <div class="">{{'by'|t}}</div>
            <select onchange="handleSearchScope(this)" name="" id="osulp-search-method" class="form-select fw-bold w-auto py-2 px-5 ps-4-5 border-black">
              <option value="contains">Keyword</option>
              <option value="exact">Exact Phrase</option>
              <option value="course_number">Course Number</option>
            </select>
          </div>
          <input id="osulp-search-query" type="text" class="form-search form-control w-25 px-3 bg-white border-black border-end-0" type="search" name="">
          <button type="submit" value="Submit" class="btn osu-btn-primary p-2 px-4 ms-n3 rounded-0 border-black">
            <i class="fa fs-4 color-white fa-search osu-text-icon" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
  {% endblock %}
</div>
