{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{# Set variable for pages with white header #}
{% set white_top_page = [
  'directory_profile',
  'news',
  'events',
] %}
{% set white_top = (page_node and page_node.type.entity.id in white_top_page) or (is_front) %}

{# isfront #}
{# Set region id and classes #}
{% set region_id = 'madrone-' ~ region|clean_class ~ '-container' %}
{% set region_class = [
  'madrone-' ~ region|clean_class,
  'container',
] %}

{# check for group pages that are not page nodes. This should leave us with home pages group page #}
{% set group_page = (groups and not page_node) %}
{% set col_width = group_page ? 6 : 9 %}

{# actual layout #}
{% set background_image_style = image_uri ? 'background-image: url(' ~ image_uri ~ ');' : '' %}
{# check to see if content exists then check to see if the page is not the front page #}
{% if content %} 
{% if not is_front %}
{# If the page is a group page, add the group class. If the page is a white top page (from the variable) it won't show up #}
  <div id="osulp-title-block-container" class="{{ group_page ? 'group' : '' }} container-fluid {{ white_top ? 'bg-neutral' : 'bg-coastline-20'}} g-0 pb-4 border-bottom" style="{{background_image_style}}">
    <div{{attributes.setAttribute('id',region_id).addClass(region_class)}}>
      <div class="row">
        <div class="col-12 col-md-{{col_width}}">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endif %}
