{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% set classes = [
  'region',
  'region-' ~ region|clean_class,
  'bg-grey-900',
  'osu-text-bucktoothwhite',
  'osu-min-h-300',
  'px-4',
  'py-4-5',
  'justify-content-between',
] %}

{% set region_id = 'madrone-' ~ region|clean_class ~ '-container' %}
{% set region_class = [
  'madrone-' ~ region|clean_class,
  'row',
] %}

<div{{attributes.addClass(classes)}}>
  <div{{attributes.setAttribute('id',region_id).addClass(region_class).removeClass(classes)}}>
    <div class="col-12 col-md-3 border-end-md border-bottom border-bottom-md-0 border-candela-dark position-relative pb-4 pb-md-0">
      <a id="osu-logo-crest" class="text-decoration-none" href="{{ companion_logo_link }}">
        <img class="d-block m-md-auto" src="/{{ directory }}/assets/osu-logo-white.svg" alt="Oregon State University"/>
      </a>
    </div>
    <div class="col-12 col-md-9 px-5 pt-4 pt-md-0 row">
      <div class="font-stratum2web fs-5 fw-bold pb-4 col-12">
        <span>
          Oregon State University Libraries &amp; Press
        </span>
        <span class="float-md-end">
          *Social&nbsp;Media&nbsp;Placeholder*
        </span>
      </div>
      <div id="footer-menus" class="col-12 row">
        {{ content }}
      </div>
      <div>
        <a href="https://guides.library.oregonstate.edu/subject-guide/286-Government-Information" class="footer-fdlp-link">
          <img src="/{{ directory }}/assets/fdlp-emblem-color.png" alt="GPO Official Partnership" title="U.S. Government Publishing Office Official Partnership" height="64"/>
        </a>
      </div>
    </div>
    <div class="col-12 pt-4 fs-7 fw-light">
      <a href="https://oregonstate.edu/copyright" class="osu-link-white">
        &#169;
        {{ 'now'|date('Y') }}
        Oregon State University
      </a>
      <span class="d-none d-sm-inline">
        |
      </span>
      <span class="d-sm-none">
        <br/>
      </span>
      <a href="/sitemap.xml" class="osu-link-white">
        {{ 'Sitemap'|t }}
      </a>
    </div>
  </div>
</div>
